mixin authorForm(authors, saveURL, cancelURL)

    div.form-container
        form(action=saveURL method='post')
            div.form-input
                label(for='first_name') First Name
                input(id='first_name' name='first_name' value= student.first_name)

            div.form-input
                label(for='last_name') Last Name
                input(id='last_name' name='last_name' value= student.last_name)

            div.form-input
                label(for='written_books') Written Books
                select(id='written_books' name='written_books')
                    each written_books in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                        option(value=written_books seledcted = (written_books === author.written_books)) #{grade}

            div.form-buttons
                a.button(href=cancelURL) Cancel
                button.button.primary(type='submit') Save